body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header{
  display: flex;
  justify-content: center;
}

.mainGrid{
display:grid;
grid-template-columns: 33% 33% 33%;

}

.articlesCol{
padding: 0 10px 0 10px;
border-right:1px solid #bbb;
}

.list{
  list-style-type: none;
  border-bottom: 1px solid #bbb;
  padding-bottom:8px;
  margin-bottom:8px
}

.articlesColRight{
  padding: 0 10px 0 10px
}

.picContainer{
  display:flex;
  margin-top: 10px;
}

.articleTitle{
  text-decoration: underline;
  cursor:pointer;
  color:black;
}

.articleTitle:hover{
  text-decoration: none;
}

.picture{
  height: 150px;
}

.repostHeader{
display:flex;
justify-content: center;
margin-bottom:25px;
margin-top:10px;
}

.repostSection{
  display: flex;
   margin:15px;
}

.repostDescription{
  width:80px;
  margin-right: 10px;
}

.repostInput{
  width:90%;
}

.deleteIcon{
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.addIcon{
  height: 15px;
  width: 15px;
  cursor: pointer;

}
.addLogoContainer{
  display:flex;
  align-items: center;
  margin-right: 20px;
}

.console{
  display:flex;
  margin-left:5px;
  border-bottom:1px solid black;
  padding-bottom:10px;
}

.consoleSection{
  display:flex;
}

.sideContent{
  border-bottom:1px solid black;
}


.originalPresentationContainer{
 display:flex;
 justify-content:center;
}

.originalPresentationSmallContainer{
  margin: 0 40px 0 40px;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 75%;

}